/** Фильтр */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.filter__button {
  min-width: 73px;
  min-height: 38px;
  border-radius: 4px;
  border: 0 solid transparent;

  background-color: $tertiary-bg-color;
  color: $secondary-text-color;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;

  transition: color 250ms $cubic-bezier, background-color 250ms $cubic-bezier,
    box-shadow 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $tertiary-text-color;
    background-color: $accent-color;

    box-shadow: 0px 3px 1px $filter-hover-first-shadow-color,
      0px 1px 2px $filter-hover-second-shadow-color,
      0px 2px 2px $filter-hover-third-shadow-color;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
