/** Футер */
footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-bg-color;

  @media screen and (max-width: $to-desktop) {
    text-align: center;
  }
}
.footer-container {
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
  }
}
