/** Адрес и контакты */
.logo-address {
  @media screen and (max-width: $to-desktop) {
    margin-bottom: 60px;
  }
}
.footer-contacts {
  font-style: normal;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contacts__address,
.footer-contacts__mail-tel {
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts__address {
  margin-top: 0;
  margin-bottom: 0;

  color: $tertiary-text-color;
}
.footer-contacts__mail-tel {
  color: $footer-contacts-color;

  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
