/** Соцсети */
.join {
  margin-left: 70px;
}
.social-links--dark {
  width: 206px;
  margin: 0;
}
.social-links__link--dark {
  color: $tertiary-text-color;
  background-color: $footer-links-bg-color;
}
