/** Герой */
.hero {
  background-color: $secondary-bg-color;
}
.hero__content {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-color: $content-hero-bg-color;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      $content-hero-gradient-color,
      $content-hero-gradient-color
    ),
    url(../images/hero/hero-bg-mobile.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        $content-hero-gradient-color,
        $content-hero-gradient-color
      ),
      url(../images/hero/hero-bg-mobile@2x.jpg);
  }

  @media screen and (max-width: $to-mobile) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @media screen and (min-width: $mobile) and (max-width: $to-tablet) {
    width: 480px;
    height: 400px;
  }

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    width: 768px;

    background-image: linear-gradient(
        to right,
        $content-hero-gradient-color,
        $content-hero-gradient-color
      ),
      url(../images/hero/hero-bg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $content-hero-gradient-color,
          $content-hero-gradient-color
        ),
        url(../images/hero/hero-bg-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        $content-hero-gradient-color,
        $content-hero-gradient-color
      ),
      url(../images/hero/hero-bg-desktop.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $content-hero-gradient-color,
          $content-hero-gradient-color
        ),
        url(../images/hero/hero-bg-desktop@2x.jpg);
    }
  }

  @media screen and (min-width: $max-img-bg-size) {
    width: 1600px;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $tertiary-text-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $hero-button-hover-bg-color;
  }
}
