/** Логотип */
.logo {
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  color: $accent-color;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.page-header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo__part {
  color: $logo-color;
}
