/** Меню навигации */
.menu-button {
  display: inline-flex;

  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;

  transition: color 250ms $cubic-bezier;

  cursor: pointer;

  z-index: 1;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
.icon-cross {
  fill: currentColor;
}
.icon-menu {
  fill: currentColor;
}
.menu-container {
  background-color: $primary-bg-color;

  @media screen and (max-width: $to-tablet) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 48px 40px;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 79px;
  }
}
.site-nav {
  @media screen and (min-width: $tablet) {
    display: flex;

    margin-left: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}
.site-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: $to-tablet) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: $tablet) {
      margin-right: 50px;
    }
  }
}
.site-nav__link {
  position: relative;

  display: block;

  color: $secondary-text-color;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  transition: color 250ms $cubic-bezier;

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 31px;

    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav__link--current {
  color: $accent-color;

  @media screen and (min-width: $tablet) {
    &::after {
      position: absolute;
      bottom: -1px;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}
