/** Работа */
.work {
  padding-bottom: 94px;
}
.work__item {
  position: relative;
}
.work__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  color: $tertiary-text-color;
  background-color: $work-text-bg-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
